$base-color: #f9d404;
$white-color: #fff;
$black-color: #000;
$purple-color: #9a49a0;
$beige-color: #e7e1b5;
$gray-color: #2d2817;
$dark-blue: #0f0054;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-yellow {
  color: $base-color;
}

body {
  font-family: "Jost", sans-serif;
  color: $white-color;
  background-color: $black-color;

  .btn {
    border: none;
    border-radius: 50px;
    background-color: $base-color;
    color: $black-color;
    padding: 1rem 3rem;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: $white-color;
    }
  }

  .common-bg {
    background-image: url("./images/contact/brick-wall.png");
    background-repeat: repeat;
    background-size: 100% 100%;

    .hero {
      display: flex;
      justify-content: center;
      margin: auto;
      margin-top: 2rem;

      .hero-left {
        flex: 1;
        padding: 0 3rem;

        img {
          height: 50px;
        }

        p {
          font-size: 1.3rem;
          font-weight: 400;
        }
      }

      .hero-right {
        flex: 1;
        padding: 0 3rem;

        form {
          text-align: left;

          label {
            display: block;
            font-size: 1.7rem;
            font-weight: 500;
            margin-bottom: 5px;
          }

          input,
          textarea {
            width: 100%;
            padding: 0.5rem;
            color: $black-color;
          }

          img {
            height: 40px;
          }
        }
      }
    }

    .poster-1 {
      margin-left: 10rem;
      max-width: 200px;
    }

    .illustrations {
      position: relative;
      margin: auto;
      height: 100vh;
      width: 100vw;

      img.brick-wall {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: -1;
      }

      img.main {
        position: absolute;
        bottom: -20%;
        height: 100%;
        width: 100%;
        object-fit: cover;
        z-index: 1;
        transform: scale(0.85);
      }

      img.poster-2 {
        position: absolute;
        top: 7%;
        right: 25%;
        object-fit: cover;
        max-height: 250px;
      }

      img.poster-3 {
        position: absolute;
        top: 15%;
        right: 8%;
        object-fit: cover;
        max-height: 250px;
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  body {
    padding-top: 5rem;

    .common-bg {
      background-image: none;
      overflow: hidden;

      .poster-1 {
        margin-top: 3rem;
      }

      .hero {
        margin: 0;
        padding: 0;
        flex-direction: column;

        .hero-left {
          margin-top: 3rem;
          padding: 0 2rem;
        }

        .hero-right {
          margin-top: 3rem;
          padding: 0 2rem;

          form {
            label {
              font-size: 1.5rem;
            }
          }
        }
      }

      .illustrations {
        height: 600px;

        img.main {
          object-fit: contain;
          z-index: 10;
          bottom: -15%;
          transform: scale(1.2);
          max-height: 300px;
          max-width: 100%;
        }

        img.poster-2 {
          top: 20%;
          right: 3%;
          max-height: 200px;
        }

        img.poster-3 {
          top: 0;
          left: 2%;
          max-height: 200px;
        }
      }
    }

    .footer {
      padding-top: 0 !important;
      margin-top: 0 !important;

      .footer-container {
        margin-top: 0;
      }
    }
  }
}
