$base-color: #f9d404;
$white-color: #fff;
$black-color: #000;
$purple-color: #9a49a0;
$beige-color: #e7e1b5;
$gray-color: #2d2817;
$dark-blue: #0f0054;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-yellow {
  color: $base-color;
}

body {
  font-family: "Jost", sans-serif;
  color: $white-color;
  background-color: $black-color;
  overflow-x: hidden;

  .common-bg {
    background-image: url("./images/landing/bg.png");
    background-repeat: repeat;
    background-size: 100% 100%;

    .hero {
      display: flex;
      justify-content: center;
      margin: auto;
      padding-top: 5rem;

      .hero-left {
        flex: 1;
        padding: 0 3rem;

        h2 {
          display: block;
          font-size: 3rem;
          font-weight: 600;
          color: $base-color;
          text-transform: capitalize;
        }

        img {
          height: 50px;
        }

        p {
          font-size: 1.3rem;
          font-weight: 400;
        }
      }

      .hero-right {
        flex: 1;
        padding: 0 3rem;

        form {
          text-align: left;

          label {
            display: block;
            font-size: 1.7rem;
            font-weight: 500;
            margin-bottom: 5px;
          }

          input,
          textarea {
            width: 100%;
            padding: 0.5rem;
            color: $black-color;
            border-radius: 10px;
          }

          img {
            height: 40px;
          }

          .submit {
            width: 100%;
            margin-top: 2rem;
            border: none;
            border-radius: 10px;
            background-color: $base-color;
            color: $black-color;
            padding: 0.5rem 3rem;
            text-transform: uppercase;
            font-size: 1.4rem;
            font-weight: 700;
            cursor: pointer;
            transition: all 0.3s ease-in-out;

            &:hover {
              background-color: $white-color;
            }
          }
        }
      }
    }

    .illustrations {
      position: relative;
      margin: auto;
      width: 100vw;
      padding: 5rem 0;

      // img.brick-wall {
      //   position: absolute;
      //   left: 0;
      //   bottom: 0;
      //   z-index: -1;
      // }

      img.main {
        margin: auto;
        height: 100%;
        width: 100%;
        object-fit: cover;
        z-index: 1;
        max-height: 600px;
        width: auto;
      }

      .poster {
        position: absolute;
        max-height: 200px;
      }

      img.poster-1 {
        top: 0;
        left: 5%;
      }

      img.poster-2 {
        top: 2%;
        right: 14%;
        object-fit: cover;
      }

      img.poster-3 {
        bottom: 15%;
        right: 5%;
        object-fit: cover;
      }
    }

    .footer {
      margin-top: 30rem;

      .footer-container {
        .footer-right {
          img.illustration {
            top: -250px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 901px) and (max-width: 1400px) {
  body {
    .common-bg {
      .illustrations {
        img.main {
          object-fit: contain;
          max-height: 500px;
          margin-top: 200px;
        }

        .poster {
          max-height: 200px;
        }

        img.poster-1 {
          top: 10%;
          left: 15%;
        }

        img.poster-2 {
          top: 15%;
          right: 20%;
        }

        img.poster-3 {
          top: 5%;
          left: 40%;
        }
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  body {
    padding-top: 5rem;

    .common-bg {
      background-image: none;
      overflow: hidden;

      .hero {
        margin: 0;
        padding: 0;
        flex-direction: column;

        .hero-left {
          padding: 0 2rem;
        }

        .hero-right {
          margin-top: 3rem;
          padding: 0 2rem;

          form {
            label {
              font-size: 1.5rem;
            }
          }
        }
      }

      .illustrations {
        img.main {
          object-fit: contain;
          max-height: 500px;
          margin-top: 200px;
        }

        .poster {
          max-height: 100px;
        }

        img.poster-1 {
          top: 10%;
          right: 3%;
        }

        img.poster-2 {
          top: 15%;
          right: 5%;
          max-height: 150px;
        }

        img.poster-3 {
          top: 5%;
          left: 30%;
          max-height: 150px;
        }
      }
    }

    .footer {
      padding-top: 1rem !important;
      margin-top: 15rem !important;

      .footer-container {
        margin-top: 2rem !important;
        .footer-right {
          img.illustration {
            top: -160px !important;
          }
        }
      }
    }
  }
}
