* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-yellow {
  color: #f9d404;
}

body {
  font-family: "Jost", sans-serif;
  color: #fff;
  background-color: #000;
}
body .btn {
  border: none;
  border-radius: 50px;
  background-color: #f9d404;
  color: #000;
  padding: 1rem 3rem;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
body .btn:hover {
  background-color: #fff;
}
body .common-bg {
  background-image: url("./images/contact/brick-wall.png");
  background-repeat: repeat;
  background-size: 100% 100%;
}
body .common-bg .hero {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 2rem;
}
body .common-bg .hero .hero-left {
  flex: 1;
  padding: 0 3rem;
}
body .common-bg .hero .hero-left img {
  height: 50px;
}
body .common-bg .hero .hero-left p {
  font-size: 1.3rem;
  font-weight: 400;
}
body .common-bg .hero .hero-right {
  flex: 1;
  padding: 0 3rem;
}
body .common-bg .hero .hero-right form {
  text-align: left;
}
body .common-bg .hero .hero-right form label {
  display: block;
  font-size: 1.7rem;
  font-weight: 500;
  margin-bottom: 5px;
}
body .common-bg .hero .hero-right form input,
body .common-bg .hero .hero-right form textarea {
  width: 100%;
  padding: 0.5rem;
  color: #000;
}
body .common-bg .hero .hero-right form img {
  height: 40px;
}
body .common-bg .poster-1 {
  margin-left: 10rem;
  max-width: 200px;
}
body .common-bg .illustrations {
  position: relative;
  margin: auto;
  height: 100vh;
  width: 100vw;
}
body .common-bg .illustrations img.brick-wall {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}
body .common-bg .illustrations img.main {
  position: absolute;
  bottom: -20%;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
  transform: scale(0.85);
}
body .common-bg .illustrations img.poster-2 {
  position: absolute;
  top: 7%;
  right: 25%;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 250px;
}
body .common-bg .illustrations img.poster-3 {
  position: absolute;
  top: 15%;
  right: 8%;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 250px;
}
body .footer {
  background-color: #fff;
}

@media only screen and (max-width: 700px) {
  body {
    padding-top: 5rem;
  }
  body .common-bg {
    background-image: none;
    overflow: hidden;
  }
  body .common-bg .poster-1 {
    margin-top: 3rem;
  }
  body .common-bg .hero {
    margin: 0;
    padding: 0;
    flex-direction: column;
  }
  body .common-bg .hero .hero-left {
    margin-top: 3rem;
    padding: 0 2rem;
  }
  body .common-bg .hero .hero-right {
    margin-top: 3rem;
    padding: 0 2rem;
  }
  body .common-bg .hero .hero-right form label {
    font-size: 1.5rem;
  }
  body .common-bg .illustrations {
    height: 600px;
  }
  body .common-bg .illustrations img.main {
    -o-object-fit: contain;
       object-fit: contain;
    z-index: 1;
    bottom: -10%;
    transform: scale(1.2);
    max-height: 300px;
    max-width: 100%;
  }
  body .common-bg .illustrations img.poster-2 {
    top: 10%;
    right: 0;
    max-height: 200px;
  }
  body .common-bg .illustrations img.poster-3 {
    top: 0;
    left: 0;
    max-height: 200px;
  }
}/*# sourceMappingURL=contact.css.map */