$base-color: #f9d71c;
$white-color: #fff;
$black-color: #000;
$purple-color: #9a49a0;
$beige-color: #e7e1b5;
$gray-color: #2d2817;
$dark-blue: #0f0054;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-yellow {
  color: $base-color;
}

body {
  font-family: "Jost", sans-serif;
  color: $white-color;
  background-color: $black-color;

  .btn {
    border: none;
    border-radius: 50px;
    background-color: $base-color;
    color: $black-color;
    padding: 1rem 3rem;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: $white-color;
    }
  }

  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;

    ul {
      display: flex;
      list-style: none;
      flex: 1;
      justify-content: space-between;
      align-items: center;
      position: relative;

      &::before,
      &::after {
        content: " ";
        position: absolute;
        display: block;
        width: 100%;
        height: 1px;
        background-color: $white-color;
      }

      &::before {
        top: -25px;
        left: 0;
      }

      &::after {
        bottom: -25px;
        right: 0;
      }

      li {
        font-size: 1.7rem;
        font-weight: 500;
        cursor: pointer;
      }
    }

    img {
      height: 180px;
      width: 180px;
      object-fit: cover;
      margin: 0 3rem;
    }
  }

  .hero {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 2rem;

    .hero-left {
      flex: 1;
      padding: 0 3rem;

      img {
        height: 50px;
      }

      p {
        font-size: 1.5rem;
        font-weight: 400;
      }
    }

    .hero-right {
      flex: 1;
      padding: 0 3rem;

      form {
        text-align: left;

        label {
          display: block;
          font-size: 1.7rem;
          font-weight: 500;
          margin-bottom: 5px;
        }

        input,
        textarea {
          width: 100%;
          padding: 0.5rem;
          color: $black-color;
        }

        img {
          height: 40px;
        }
      }
    }
  }
}
