$base-color: #f9d71c;
$white-color: #fff;
$black-color: #000;
$bg-color: #191f2c;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-yellow {
  color: $base-color;
}

body {
  font-family: "Jost", sans-serif;
  color: $white-color;
  background-color: $bg-color;

  .btn {
    border: none;
    border-radius: 50px;
    background-color: $base-color;
    color: $black-color;
    padding: 1rem 3rem;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: $white-color;
    }
  }

  .background {
    position: fixed;
    bottom: 0;
    background-image: url("./services-gifs/lady.gif");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    width: 100vw;
    height: 100vh;
  }

  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;

    ul {
      display: flex;
      list-style: none;
      flex: 1;
      justify-content: space-between;
      align-items: center;
      position: relative;

      &::before,
      &::after {
        content: " ";
        position: absolute;
        display: block;
        width: 100%;
        height: 1px;
        background-color: $white-color;
      }

      &::before {
        top: -25px;
        left: 0;
      }

      &::after {
        bottom: -25px;
        right: 0;
      }

      li {
        font-size: 1.7rem;
        font-weight: 500;
        cursor: pointer;
      }
    }

    img {
      height: 180px;
      width: 180px;
      object-fit: cover;
      margin: 0 3rem;
    }
  }

  img.landing-image {
    object-fit: cover;
    // max-width: 800px;
    //   max-height: 100%;
    //   max-height: 100vh;
    //   transform: scale(1.2);
  }

  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto 0 auto;
    flex-direction: column;
    // height: 1000px;

    h2 {
      font-size: 2.5rem;
      font-weight: 600;
      margin: 5rem 0 1rem 0;
    }

    p {
      font-size: 1.9rem;
      font-weight: 400;
      margin: 2rem 0;
      text-align: center;
      max-width: 900px;
    }

    span {
      font-size: 3rem;
      font-weight: 600;
      margin: 2rem 0;
      text-align: center;
    }
  }

  .services {
    margin: 10rem auto;
    max-width: 1000px;

    .service {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 8rem auto;

      h3 {
        font-size: 2.5rem;
        font-weight: 600;
        margin: 5rem 0 1rem 0;
      }

      p {
        font-size: 1.5rem;
        font-weight: 400;
        margin: 0 0;
        max-width: 700px;
        line-height: 3rem;
      }

      img {
        object-fit: cover;
        max-height: 500px;
      }

      ul {
        list-style: disc;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-top: 2rem;

        li {
          font-size: 1.5rem;
          font-weight: 400;
          margin: 1rem 2rem;
          max-width: 700px;
          line-height: 2rem;
        }
      }
    }

    .service-left {
      flex-direction: row;

      p {
        text-align: left;
      }

      ul {
        justify-content: flex-start;

        li {
          margin-right: 1.8rem;
          margin-left: 1.2rem;
        }
      }
    }

    .service-right {
      flex-direction: row-reverse;

      h3 {
        text-align: right;
      }

      p {
        text-align: right;
      }

      ul {
        justify-content: flex-end;

        li {
          margin-right: 0;
          margin-left: 3rem;
        }
      }
    }
  }

  .illustration-container {
    position: relative;
    z-index: 3;
    margin-top: 20rem;
    width: 100%;

    img.illustration {
      position: absolute;
      bottom: -8rem;
      left: 0;
      right: 0;
      width: 100%;
    }
  }

  .footer {
    background-color: $base-color;
    position: relative;
    max-width: 100%;

    .footer-container {
      color: $black-color;
      display: flex;
      align-items: center;
      margin: auto;
      padding: 2rem 0;
      padding-top: 8rem;

      img {
        height: 400px;
      }

      .links {
        display: flex;

        ul {
          margin: 2rem;
          li {
            font-size: 1.3rem;
            font-weight: 600;
            margin: 1rem 0;
            cursor: pointer;
          }
        }
      }

      .copyright {
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 0 10rem 4rem 0;
        font-size: 1.3rem;
        font-weight: 600;

        .dot {
          height: 30px;
          width: 30px;
          border-radius: 50%;
          background-color: $black-color;
          margin: 0 1.5rem;

          &:last-child {
            margin-right: 3rem;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  body {
    box-sizing: border-box;
    margin: auto;

    .navigation {
      display: none;
    }

    img.landing-image {
      margin-top: 5rem;
    }

    .hero {
      margin: auto;
      padding: 2rem;
      p {
        font-size: 1.1rem;
      }
    }

    .services {
      margin: auto;
      padding: 2rem;

      .service {
        margin: 0;
        align-items: center;

        h3 {
          margin: auto;
          text-align: center;
          font-size: 1.5rem;
        }

        p {
          text-align: center;
          font-size: 1rem;
          line-height: unset;
        }

        ul {
          flex-direction: column;
          align-items: center;

          li {
            font-size: 1rem;
            line-height: unset;
            margin: 0;
          }
        }
      }

      .service-left,
      .service-right {
        flex-direction: column-reverse;
      }
    }

    .illustration-container {
      margin-top: 10rem;

      img.illustration {
        position: absolute;
        bottom: -2rem;
      }
    }

    .footer {
      .footer-container {
        flex-direction: column;
        padding: 1rem 0;
        z-index: 1;

        img {
          height: 200px;
          margin-top: 50px;
        }

        .copyright {
          position: unset;
          padding: 0;
          margin: 1rem auto;

          .dot {
            display: none;
          }
        }
      }
    }
  }
}
