* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-yellow {
  color: #f9d71c;
}

body {
  font-family: "Jost", sans-serif;
  color: #fff;
}
body .btn {
  border: none;
  border-radius: 50px;
  background-color: #f9d71c;
  color: #000;
  padding: 1rem 3rem;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
body .btn:hover {
  background-color: #fff;
}
body .background {
  position: fixed;
  inset: 0;
  background-image: url("./images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}
body .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  margin: auto;
}
body .navigation ul {
  display: flex;
  list-style: none;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  font-weight: 500;
  font-size: 1.2rem;
  position: relative;
}
body .navigation ul::before, body .navigation ul::after {
  content: " ";
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #fff;
}
body .navigation ul::before {
  top: -30px;
  left: 0;
}
body .navigation ul::after {
  bottom: -30px;
  right: 0;
}
body .navigation ul li {
  cursor: pointer;
}
body .navigation img {
  height: 200px;
  width: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 3rem;
}
body .hero {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 70px auto;
  flex-direction: column;
}
body .hero img {
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 600px;
  transform: scale(1.1);
}
body .hero h2 {
  font-size: 2.5rem;
  font-weight: 600;
  margin: 5rem 0 1rem 0;
}
body .hero p {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 2rem 0;
  text-align: center;
  max-width: 800px;
}
body .hero span {
  font-size: 3rem;
  font-weight: 600;
  margin: 2rem 0;
  text-align: center;
}
body .features {
  margin: 10rem auto;
}
body .features .feature {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
body .features .feature p {
  font-size: 1.3rem;
  font-weight: 400;
  margin: 2rem 0;
  max-width: 700px;
  line-height: 2.5rem;
}
body .features .feature img {
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 350px;
}
body .features .feature-left {
  flex-direction: row;
}
body .features .feature-left p {
  text-align: right;
}
body .features .feature-right {
  flex-direction: row-reverse;
}
body .features .feature-right p {
  text-align: left;
}
body .services {
  margin: 10rem auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  width: 1000px;
  position: relative;
}
body .services .service {
  display: flex;
  margin: 2rem auto;
  justify-content: center;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  flex-direction: column;
}
body .services .service img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 200px;
}
body .services .service p {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 3rem;
  text-align: center;
}
body .services button {
  position: absolute;
  top: 50%;
  right: -200px;
  transform: translate(0, -50%) rotate(-90deg);
}
body .services p.side-content {
  position: absolute;
  top: 50%;
  left: -300px;
  font-size: 3.5rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: #f9d71c;
  transform: translate(0, -50%) rotateZ(-90deg);
}
body .clients {
  margin: 10rem auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  width: 1000px;
  position: relative;
}
body .clients .client {
  display: flex;
  margin: 1rem auto;
  justify-content: center;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  flex-direction: column;
}
body .clients .client img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 200px;
}
body .clients p.side-content {
  position: absolute;
  top: 50%;
  left: -200px;
  font-size: 3.5rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: #f9d71c;
  transform: translate(0, -50%) rotateZ(-90deg);
}
body .works {
  margin: 10rem 0 10rem auto;
  max-width: 1200px;
  position: relative;
}
body .works swiper-container {
  width: 100%;
  height: 100%;
}
body .works swiper-container swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
body .works swiper-container swiper-slide .work {
  color: #f9d71c;
  display: flex;
  flex-direction: column;
  max-width: 350px;
  border: 1px white solid;
  border-radius: 1rem;
  padding: 2rem;
}
body .works swiper-container swiper-slide .work .image {
  height: 200px;
  background-color: white;
  border-radius: 10px;
}
body .works swiper-container swiper-slide .work .title {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 1rem 0;
}
body .works swiper-container swiper-slide .work .description {
  font-size: 1rem;
  font-weight: 400;
  margin: 1rem 0;
}
body .works .custom-swiper-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 6rem;
}
body .works .custom-swiper-buttons img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 200px;
  margin-bottom: -80px;
}
body .works .custom-swiper-buttons img.swiper-button-disabled {
  opacity: 0;
}
body .works .custom-swiper-buttons .custom-swiper-buttons-right {
  transform: rotate(180deg);
}
body .works p.side-content {
  position: absolute;
  top: 50%;
  left: -370px;
  font-size: 3.5rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: #f9d71c;
  transform: translate(0, -50%) rotateZ(-90deg);
}
body .merchs {
  margin: 10rem auto 10rem 0;
  max-width: 1200px;
  position: relative;
}
body .merchs swiper-container {
  width: 100%;
  height: 100%;
}
body .merchs swiper-container swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
body .merchs swiper-container swiper-slide .merch {
  color: #f9d71c;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 350px;
  padding: 2rem;
}
body .merchs swiper-container swiper-slide .merch .image {
  height: 350px;
  width: 350px;
  background-color: black;
  border: 1px white solid;
  border-radius: 50%;
}
body .merchs swiper-container swiper-slide .merch .title {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 3rem 0 1rem 0;
}
body .merchs swiper-container swiper-slide .merch .description {
  font-size: 1rem;
  font-weight: 400;
  margin: 1rem 0;
}
body .merchs .custom-swiper-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 6rem;
}
body .merchs .custom-swiper-buttons img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 200px;
  margin-bottom: -80px;
}
body .merchs .custom-swiper-buttons img.swiper-button-disabled {
  opacity: 0;
}
body .merchs .custom-swiper-buttons .custom-swiper-buttons-right {
  transform: rotate(180deg);
}
body .merchs p.side-content {
  position: absolute;
  top: 50%;
  right: -200px;
  font-size: 3.5rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: #f9d71c;
  transform: translate(0, -50%) rotateZ(-90deg);
}
body .blogs {
  margin: 10rem 0 10rem auto;
  max-width: 1200px;
  position: relative;
}
body .blogs swiper-container {
  width: 100%;
  height: 100%;
}
body .blogs swiper-container swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
body .blogs swiper-container swiper-slide .blog {
  color: #f9d71c;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-image: url("./images/blog-shape.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 350px;
}
body .blogs swiper-container swiper-slide .blog .image {
  height: 200px;
  background-color: white;
  border-radius: 10px;
}
body .blogs swiper-container swiper-slide .blog .title {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 1rem 0 5rem 0;
}
body .blogs .custom-swiper-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 6rem;
}
body .blogs .custom-swiper-buttons img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 200px;
  margin-bottom: -80px;
}
body .blogs .custom-swiper-buttons img.swiper-button-disabled {
  opacity: 0;
}
body .blogs .custom-swiper-buttons .custom-swiper-buttons-right {
  transform: rotate(180deg);
}
body .blogs p.side-content {
  position: absolute;
  top: 50%;
  left: -200px;
  font-size: 3.5rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: #f9d71c;
  transform: translate(0, -50%) rotateZ(-90deg);
}/*# sourceMappingURL=styles.css.map */