$base-color: #f9d404;
$white-color: #fff;
$black-color: #000;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-yellow {
  color: $base-color;
}

body {
  font-family: "Jost", sans-serif;
  color: $white-color;

  .btn {
    border: none;
    border-radius: 50px;
    background-color: $base-color;
    color: $black-color;
    padding: 1rem 3rem;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: $white-color;
    }
  }

  .mobile-heading {
    display: none;
  }

  .background {
    position: fixed;
    inset: 0;
    background-image: url("./images/landing/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    width: 100vw;
    height: 100vh;
  }

  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px auto;
    flex-direction: column;

    img {
      object-fit: cover;
      max-height: 600px;
      transform: scale(1.1);
    }

    #about-us {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      h2 {
        font-size: 2.5rem;
        font-weight: 600;
        margin: 5rem 0 1rem 0;
        color: $base-color;
      }

      p {
        font-size: 1.5rem;
        font-weight: 400;
        margin: 1rem 0;
        text-align: center;
        max-width: 800px;
      }

      span {
        font-size: 3rem;
        font-weight: 600;
        margin: 2rem 0;
        text-align: center;
      }
    }
  }

  .features {
    margin: 2rem auto;

    img {
      object-fit: cover;
      height: 280px;
      margin: auto;
    }

    .feature-margin {
      height: 100px;
      width: 100%;
    }
  }

  .services {
    margin: 10rem auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    max-width: 1000px;
    position: relative;

    .service {
      display: flex;
      margin: 2rem auto;
      justify-content: flex-end;
      align-items: center;
      width: fit-content;
      flex-direction: column;

      img {
        object-fit: cover;
        max-height: 150px;
        max-width: 150px;
      }

      p {
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 3rem;
        text-align: center;
      }
    }

    button {
      position: absolute;
      top: 50%;
      right: -200px;
      transform: translate(0, -50%) rotate(-90deg);
    }

    img.side-content {
      position: absolute;
      top: 50%;
      left: -190px;
      font-size: 3.5rem;
      font-weight: 400;
      margin: 0;
      padding: 0;
      color: $base-color;
      transform: translate(0, -50%) scale(0.6);
    }
  }

  .works {
    margin: 10rem 0 10rem auto;
    max-width: 1400px;

    .heading-slider-container {
      display: flex;
      align-items: center;

      img.side-content {
        color: $base-color;
        max-width: 53px;
      }

      swiper-container {
        width: 100%;
        height: 100%;

        swiper-slide {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          .work {
            color: $base-color;
            display: flex;
            flex-direction: column;
            max-width: 350px;
            border: 1px white solid;
            border-radius: 1rem;
            padding: 2rem;

            img {
              height: 200px;
              border-radius: 10px;
            }

            .title {
              font-size: 1.5rem;
              font-weight: 600;
              margin: 1rem 0;
            }

            .description {
              font-size: 1rem;
              font-weight: 400;
              margin: 1rem 0;
            }
          }
        }
      }
    }

    .custom-swiper-buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 6rem;

      img {
        object-fit: cover;
        max-width: 100px;
        margin-bottom: -80px;

        &.swiper-button-disabled {
          opacity: 0;
          pointer-events: none;
        }
      }

      .custom-swiper-buttons-right {
        transform: rotate(180deg);
      }
    }
  }

  .clients {
    margin: 10rem auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    max-width: 1000px;
    position: relative;

    .client {
      display: flex;
      margin: 1rem auto;
      justify-content: center;
      align-items: center;
      width: fit-content;
      flex-direction: column;

      img {
        object-fit: cover;
        max-height: 120px;
        max-width: 200px;
      }
    }

    img.side-content {
      position: absolute;
      top: 50%;
      left: -200px;
      transform: translate(0, -50%) scale(0.6);
    }
  }

  .merchs {
    margin: 10rem auto;
    max-width: 1100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .heading-slider-container {
      display: flex;
      align-items: center;
      position: relative;

      img.side-content {
        color: $base-color;
        max-width: 53px;
        position: absolute;
        top: 50%;
        right: -160px;
        z-index: 3;
        transform: translate(0, -50%);
      }

      swiper-container {
        width: 100%;
        height: 100%;

        swiper-slide {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          position: relative;

          .merch {
            color: $base-color;
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 350px;
            padding: 2rem;

            .image {
              height: 280px;
              width: 280px;
              background-color: black;
              border: 1px white solid;
              border-radius: 50%;
            }

            .title {
              font-size: 1.5rem;
              font-weight: 600;
              margin: 3rem 0 1rem 0;
            }

            .description {
              font-size: 1rem;
              font-weight: 400;
              margin: 1rem 0;
            }
          }
        }
      }

      button {
        position: absolute;
        z-index: 3;
        top: 50%;
        left: -240px;
        transform: translate(0, -50%) rotate(-90deg);
      }
    }

    .custom-swiper-buttons {
      display: none;
      align-items: center;
      justify-content: space-between;
      padding: 0 6rem;

      img {
        object-fit: cover;
        max-width: 100px;
        margin-bottom: -80px;

        &.swiper-button-disabled {
          opacity: 0;
        }
      }

      .custom-swiper-buttons-right {
        transform: rotate(180deg);
      }
    }
  }

  .blogs {
    margin: 10rem 0 10rem auto;
    max-width: 1400px;

    .heading-slider-container {
      display: flex;
      align-items: center;

      img.side-content {
        color: $base-color;
        max-width: 53px;
      }

      swiper-container {
        width: 100%;
        height: 100%;

        swiper-slide {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          position: relative;

          .blog {
            color: $base-color;
            display: flex;
            flex-direction: column;
            padding: 2rem;
            background-image: url("./images/landing/blog-shape.png");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            max-width: 350px;

            .image {
              height: 200px;
              background-color: white;
              border-radius: 10px;
            }

            .title {
              font-size: 1.5rem;
              font-weight: 600;
              margin: 1rem 0 5rem 0;
            }
          }
        }
      }
    }

    .custom-swiper-buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 6rem;

      img {
        object-fit: cover;
        max-width: 100px;
        margin-bottom: -80px;

        &.swiper-button-disabled {
          opacity: 0;
        }
      }

      .custom-swiper-buttons-right {
        transform: rotate(180deg);
      }
    }
  }

  .team {
    margin: 10rem 0 10rem auto;
    max-width: 1400px;

    .heading-slider-container {
      display: flex;
      align-items: flex-start;

      img.side-content {
        color: $base-color;
        max-width: 53px;
      }

      swiper-container {
        width: 100%;
        height: 100%;

        swiper-slide {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          position: relative;

          .member {
            display: flex;
            height: 350px;
            width: 350px;
            flex-direction: column;
            align-items: center;
            padding: 5rem 3rem;
            transition: none;

            .background {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              height: 700px;
              width: 100%;
              max-width: 350px;
              background-image: url("./images/landing/phone-screen.png");
              background-repeat: no-repeat;
              background-size: 100% 100%;
              z-index: 0;

              visibility: hidden;
              opacity: 0;
              transition: visibility 0s, opacity 0.5s linear;
            }

            img {
              border-radius: 50%;
              height: 230px;
              width: 230px;
              object-fit: cover;
            }

            .metadata {
              visibility: hidden;
              opacity: 0;
              transition: visibility 0s, opacity 0.5s linear;
              padding-top: 1rem;

              p {
                // margin-top: 0.3rem;
                text-align: center;
              }

              p.name {
                font-size: 2rem;
                font-weight: 600;
                color: $base-color;
              }

              p.designation {
                font-size: 1.5rem;
                font-weight: 400;
                color: $base-color;
                line-height: 2rem;
              }

              p.description {
                font-size: 1.1rem;
                font-weight: 400;
                margin-top: 1.5rem;
              }
            }

            &:hover {
              height: 700px;

              .background,
              .metadata {
                visibility: visible;
                opacity: 1;
              }
            }
          }
        }
      }
    }

    .custom-swiper-buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 6rem;

      img {
        object-fit: cover;
        max-width: 100px;
        margin-bottom: -80px;

        &.swiper-button-disabled {
          opacity: 0;
        }
      }

      .custom-swiper-buttons-right {
        transform: rotate(180deg);
      }
    }
  }

  .testimonials {
    margin: 10rem 0 10rem auto;
    max-width: 1400px;

    .heading-slider-container {
      display: flex;
      align-items: center;

      img.side-content {
        color: $base-color;
        max-width: 53px;
      }

      swiper-container {
        width: 100%;
        height: 100%;

        swiper-slide {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          position: relative;

          .testimonial {
            color: $base-color;
            display: flex;
            height: 500px;
            width: 100%;
            max-width: 350px;
            flex-direction: column;
            border: 1px white solid;
            border-radius: 1rem;
            // padding: 2rem;
            overflow: hidden;
          }
        }
      }
    }

    .custom-swiper-buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 6rem;

      img {
        object-fit: cover;
        max-width: 100px;
        margin-bottom: -80px;

        &.swiper-button-disabled {
          opacity: 0;
        }
      }

      .custom-swiper-buttons-right {
        transform: rotate(180deg);
      }
    }
  }

  .connect {
    margin: 10rem auto;
    text-align: center;

    h3 {
      font-size: 2.2rem;
      font-weight: 400;
      margin: 1rem 0;
      text-align: center;
      color: $base-color;
      text-transform: uppercase;
      position: relative;

      img {
        position: absolute;
        // inset: 0;
      }
    }

    p {
      font-size: 1.5rem;
      font-weight: 400;
      margin: 2rem 0;
      text-align: center;
      line-height: 0.2;
    }
  }
}

@media only screen and (max-width: 700px) {
  body {
    background-color: $black-color;
    box-sizing: border-box;
    margin: auto;
    overflow-x: hidden;
    max-width: 100vw;
    padding-top: 100px;

    .navigation {
      display: none;
    }

    .btn {
      font-size: 1.1rem;
    }

    .mobile-heading {
      display: block;
      text-align: center;
      font-size: 1.5rem;
      font-weight: 600;
      color: $base-color;
      margin: 1rem auto;
      padding: 1rem 2rem;
      text-transform: uppercase;
    }

    .hero {
      padding: 2rem;
      text-align: center;

      #about-us {
        img {
          max-width: 100%;
        }

        h2 {
          font-size: 1.5rem;
        }

        p {
          font-size: 1.1rem;
        }

        span {
          font-size: 1.5rem;
        }
      }
    }

    .features {
      margin: auto;
      .feature-margin {
        height: 50px;
        width: 100%;
      }
    }

    .services {
      width: auto;
      margin: 2rem auto;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      text-align: center;

      .service {
        margin: 1.5rem auto;
        p {
          font-size: 1.1rem;
        }
      }

      img.side-content {
        display: none;
      }

      button {
        position: unset;
        transform: unset;
        width: max-content;
        text-align: center;
        margin: 3rem auto;
      }
    }

    .works,
    .merchs,
    .blogs,
    .team,
    .testimonials {
      margin: 2rem auto;
      padding: 0 2rem;
    }

    // .works > .heading-slider-container,
    // .merchs > .heading-slider-container,
    // .blogs > .heading-slider-container,
    // .team > .heading-slider-container,
    // .testimonials > .heading-slider-container {
    //   padding: 0 2rem;
    //   overflow: hidden;
    // }

    .works > .heading-slider-container > .side-content,
    .merchs > .heading-slider-container > .side-content,
    .blogs > .heading-slider-container > .side-content,
    .team > .heading-slider-container > .side-content,
    .testimonials > .heading-slider-container > .side-content {
      display: none;
    }

    .works > .custom-swiper-buttons,
    .merchs > .custom-swiper-buttons,
    .blogs > .custom-swiper-buttons,
    .team > .custom-swiper-buttons,
    .testimonials > .custom-swiper-buttons {
      max-width: 100%;
      padding: 0 3rem;

      img {
        max-width: 120px;
      }
    }

    .work,
    // .merch,
    .blog,
    .member,
    .testimonial {
      background-color: $black-color;
    }

    .clients {
      margin: 2rem auto;
      padding: 1rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      text-align: center;
      max-width: 100vw;

      .client {
        img {
          max-width: 120px;
        }

        img.side-content {
          display: none;
        }

        button {
          position: unset;
          transform: unset;
          width: max-content;
          text-align: center;
          margin: 3rem auto;
        }
      }
    }

    .team {
      max-width: 100%;

      .heading-slider-container {
        swiper-container {
          swiper-slide {
            .member {
              height: 700px;

              .background,
              .metadata {
                opacity: 1;
                visibility: visible;
              }
            }
          }
        }
      }
    }

    .connect {
      margin: 5rem auto;
      padding: 1rem;
      text-align: center;

      img {
        max-width: 100%;
      }

      h3 {
        font-size: 1.5rem;
      }

      p {
        font-size: 1.1rem;
        line-height: 1.3;
      }
    }
  }
}
