$base-color: #f9d71c;
$white-color: #fff;
$black-color: #000;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-yellow {
  color: $base-color;
}

body {
  font-family: "Jost", sans-serif;
  color: $white-color;

  .btn {
    border: none;
    border-radius: 50px;
    background-color: $base-color;
    color: $black-color;
    padding: 1rem 3rem;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: $white-color;
    }
  }

  .background {
    position: fixed;
    inset: 0;
    background-image: url("./images/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    width: 100vw;
    height: 100vh;
  }

  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    margin: auto;

    ul {
      display: flex;
      list-style: none;
      flex: 1;
      justify-content: space-between;
      align-items: center;
      padding: 0 1rem;
      position: relative;

      &::before,
      &::after {
        content: " ";
        position: absolute;
        display: block;
        width: 100%;
        height: 1px;
        background-color: $white-color;
      }

      &::before {
        top: -30px;
        left: 0;
      }

      &::after {
        bottom: -30px;
        right: 0;
      }

      li {
        font-size: 1.7rem;
        font-weight: 500;
        cursor: pointer;
      }
    }

    img {
      height: 200px;
      width: 200px;
      object-fit: cover;
      margin: 0 3rem;
    }
  }

  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px auto;
    flex-direction: column;

    img {
      object-fit: cover;
      max-height: 600px;
      transform: scale(1.1);
    }

    h2 {
      font-size: 2.5rem;
      font-weight: 600;
      margin: 5rem 0 1rem 0;
    }

    p {
      font-size: 1.5rem;
      font-weight: 400;
      margin: 2rem 0;
      text-align: center;
      max-width: 800px;
    }

    span {
      font-size: 3rem;
      font-weight: 600;
      margin: 2rem 0;
      text-align: center;
    }
  }

  .features {
    margin: 10rem auto;

    .feature {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

      p {
        font-size: 1.3rem;
        font-weight: 400;
        margin: 2rem 0;
        max-width: 700px;
        line-height: 2.5rem;
      }

      img {
        object-fit: cover;
        max-height: 350px;
      }
    }

    .feature-left {
      flex-direction: row;

      p {
        text-align: right;
      }
    }

    .feature-right {
      flex-direction: row-reverse;

      p {
        text-align: left;
      }
    }
  }

  .services {
    margin: 10rem auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    width: 1000px;
    position: relative;

    .service {
      display: flex;
      margin: 2rem auto;
      justify-content: center;
      align-items: center;
      width: fit-content;
      flex-direction: column;

      img {
        object-fit: cover;
        max-width: 200px;
      }

      p {
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 3rem;
        text-align: center;
      }
    }

    button {
      position: absolute;
      top: 50%;
      right: -200px;
      transform: translate(0, -50%) rotate(-90deg);
    }

    p.side-content {
      position: absolute;
      top: 50%;
      left: -300px;
      font-size: 3.5rem;
      font-weight: 400;
      margin: 0;
      padding: 0;
      color: $base-color;
      transform: translate(0, -50%) rotateZ(-90deg);
    }
  }

  .clients {
    margin: 10rem auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    width: 1000px;
    position: relative;

    .client {
      display: flex;
      margin: 1rem auto;
      justify-content: center;
      align-items: center;
      width: fit-content;
      flex-direction: column;

      img {
        object-fit: cover;
        max-width: 200px;
      }
    }

    p.side-content {
      position: absolute;
      top: 50%;
      left: -200px;
      font-size: 3.5rem;
      font-weight: 400;
      margin: 0;
      padding: 0;
      color: $base-color;
      transform: translate(0, -50%) rotateZ(-90deg);
    }
  }

  .works {
    margin: 10rem 0 10rem auto;
    max-width: 1200px;
    position: relative;

    swiper-container {
      width: 100%;
      height: 100%;

      swiper-slide {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;

        .work {
          color: $base-color;
          display: flex;
          flex-direction: column;
          max-width: 350px;
          border: 1px white solid;
          border-radius: 1rem;
          padding: 2rem;

          .image {
            height: 200px;
            // width: 200px;
            background-color: white;
            border-radius: 10px;
          }

          .title {
            font-size: 1.5rem;
            font-weight: 600;
            margin: 1rem 0;
          }

          .description {
            font-size: 1rem;
            font-weight: 400;
            margin: 1rem 0;
          }
        }
      }
    }

    .custom-swiper-buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 6rem;

      img {
        object-fit: cover;
        max-width: 200px;
        margin-bottom: -80px;

        &.swiper-button-disabled {
          opacity: 0;
        }
      }

      .custom-swiper-buttons-right {
        transform: rotate(180deg);
      }
    }

    p.side-content {
      position: absolute;
      top: 50%;
      left: -370px;
      font-size: 3.5rem;
      font-weight: 400;
      margin: 0;
      padding: 0;
      color: $base-color;
      transform: translate(0, -50%) rotateZ(-90deg);
    }
  }

  .merchs {
    margin: 10rem auto 10rem 0;
    max-width: 1200px;
    position: relative;

    swiper-container {
      width: 100%;
      height: 100%;

      swiper-slide {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;

        .merch {
          color: $base-color;
          display: flex;
          flex-direction: column;
          align-items: center;
          max-width: 350px;
          padding: 2rem;

          .image {
            height: 350px;
            width: 350px;
            background-color: black;
            border: 1px white solid;
            border-radius: 50%;
          }

          .title {
            font-size: 1.5rem;
            font-weight: 600;
            margin: 3rem 0 1rem 0;
          }

          .description {
            font-size: 1rem;
            font-weight: 400;
            margin: 1rem 0;
          }
        }
      }
    }

    .custom-swiper-buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 6rem;

      img {
        object-fit: cover;
        max-width: 200px;
        margin-bottom: -80px;

        &.swiper-button-disabled {
          opacity: 0;
        }
      }

      .custom-swiper-buttons-right {
        transform: rotate(180deg);
      }
    }

    p.side-content {
      position: absolute;
      top: 50%;
      right: -200px;
      font-size: 3.5rem;
      font-weight: 400;
      margin: 0;
      padding: 0;
      color: $base-color;
      transform: translate(0, -50%) rotateZ(-90deg);
    }
  }

  .blogs {
    margin: 10rem 0 10rem auto;
    max-width: 1200px;
    position: relative;

    swiper-container {
      width: 100%;
      height: 100%;

      swiper-slide {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;

        .blog {
          color: $base-color;
          display: flex;
          flex-direction: column;
          padding: 2rem;
          background-image: url("./images/blog-shape.png");
          background-repeat: no-repeat;
          background-size: 100% 100%;
          width: 350px;

          .image {
            height: 200px;
            background-color: white;
            border-radius: 10px;
          }

          .title {
            font-size: 1.5rem;
            font-weight: 600;
            margin: 1rem 0 5rem 0;
          }
        }
      }
    }

    .custom-swiper-buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 6rem;

      img {
        object-fit: cover;
        max-width: 200px;
        margin-bottom: -80px;

        &.swiper-button-disabled {
          opacity: 0;
        }
      }

      .custom-swiper-buttons-right {
        transform: rotate(180deg);
      }
    }

    p.side-content {
      position: absolute;
      top: 50%;
      left: -200px;
      font-size: 3.5rem;
      font-weight: 400;
      margin: 0;
      padding: 0;
      color: $base-color;
      transform: translate(0, -50%) rotateZ(-90deg);
    }
  }
}
