$base-color: #f9d71c;
$white-color: #fff;
$black-color: #000;
$purple-color: #9a49a0;
$beige-color: #e7e1b5;
$gray-color: #2d2817;
$dark-blue: #0f0054;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-yellow {
  color: $base-color;
}

body {
  font-family: "Jost", sans-serif;
  color: $white-color;
  background-color: $purple-color;

  .btn {
    border: none;
    border-radius: 50px;
    background-color: $base-color;
    color: $black-color;
    padding: 1rem 3rem;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: $white-color;
    }
  }

  .background {
    position: fixed;
    inset: 0;
    background-image: url("./images/landing/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    width: 100vw;
    height: 100vh;
  }

  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding-top: 1.5rem;

    ul {
      display: flex;
      list-style: none;
      flex: 1;
      justify-content: space-between;
      align-items: center;
      position: relative;
      padding: 1.8rem 2rem;

      &::before,
      &::after {
        content: " ";
        position: absolute;
        display: block;
        width: 100%;
        height: 1px;
        background-color: $white-color;
      }

      &::before {
        top: 0;
        left: 0;
      }

      &::after {
        bottom: 0;
        right: 0;
      }

      li {
        font-size: 1.7rem;
        font-weight: 400;
        cursor: pointer;
      }
    }

    img {
      // height: 150px;
      width: 150px;
      object-fit: cover;
      margin: 0 2.5rem;
      margin-top: -2rem;
    }
  }

  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    height: 100vh;
    width: 100vw;

    img.cube {
      object-fit: cover;
      z-index: 3;
    }

    img.icon {
      position: absolute;
      inset: 0;
      margin: auto;
      max-height: 450px;
      z-index: 2;
    }
  }

  .work {
    text-align: center;
    margin: auto;
    margin-top: 5rem;
    width: 100%;

    .main {
      max-width: 800px;
      margin: auto;

      img {
        margin: auto;
        max-height: 100px;
        max-width: 200px;
      }

      h2 {
        font-size: 2rem;
        font-weight: 600;
        margin: 2rem 0;
      }

      p {
        font-size: 1.5rem;
        font-weight: 400;
        margin: 1rem 0;
      }

      img.arrow {
        margin: 2rem auto;
        width: 100px;
        object-fit: cover;
        cursor: pointer;
        transform: rotate(180deg);
      }
    }

    .work-metadata {
      margin: 2rem auto;
      // max-width: 1400px;
      overflow: hidden;
      height: 0px;
      transition: all 0.3s ease-in-out;

      swiper-container {
        width: 100%;
        height: 100%;

        swiper-slide {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          position: relative;

          img {
            object-fit: cover;
            width: 350px;
          }
        }
      }

      .custom-swiper-buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 6rem;

        img {
          object-fit: cover;
          max-width: 100px;
          margin-bottom: -80px;

          &.swiper-button-disabled {
            opacity: 0;
          }
        }

        .custom-swiper-buttons-right {
          transform: rotate(180deg);
        }
      }
    }
  }

  .footer {
    background-color: $base-color;
    position: relative;
    margin-top: 20rem;

    .footer-container {
      color: $black-color;
      display: flex;
      align-items: center;
      margin: auto;
      padding: 2rem 0;

      img {
        height: 400px;
      }

      .links {
        display: flex;

        ul {
          margin: 2rem;
          li {
            font-size: 1.3rem;
            font-weight: 600;
            margin: 1rem 0;
            cursor: pointer;
          }
        }
      }

      img.illustration {
        position: absolute;
        top: -150px;
        right: 150px;
        transform: scale(1.3);
      }

      .copyright {
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 0 10rem 4rem 0;
        font-size: 1.3rem;
        font-weight: 600;

        .dot {
          height: 30px;
          width: 30px;
          border-radius: 50%;
          background-color: $black-color;
          margin: 0 1.5rem;

          &:last-child {
            margin-right: 3rem;
          }
        }
      }
    }
  }
}
