* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-yellow {
  color: #f9d71c;
}

body {
  font-family: "Jost", sans-serif;
  color: #fff;
  background-color: #9a49a0;
}
body .btn {
  border: none;
  border-radius: 50px;
  background-color: #f9d71c;
  color: #000;
  padding: 1rem 3rem;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
body .btn:hover {
  background-color: #fff;
}
body .background {
  inset: 0;
  background-image: url("./images/work-images/image_top-section.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  width: 100vw;
  height: -moz-max-content;
  height: max-content;
}
body .background .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  margin: auto;
}
body .background .navigation ul {
  display: flex;
  list-style: none;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  position: relative;
}
body .background .navigation ul::before, body .background .navigation ul::after {
  content: " ";
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #fff;
}
body .background .navigation ul::before {
  top: -30px;
  left: 0;
}
body .background .navigation ul::after {
  bottom: -30px;
  right: 0;
}
body .background .navigation ul li {
  font-size: 1.7rem;
  cursor: pointer;
}
body .background .navigation img {
  height: 200px;
  width: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 3rem;
}
body .background .hero {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex-direction: column;
}
body .background .hero img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  transform: scale(1.1);
}
body .work-body {
  background-image: url("./images/work-images/bg-gradient.jpeg");
  width: 100vw;
  margin: auto;
}
body .work-body .work-anybody-bg {
  background-image: url("./images/work-images/pink-strip.png");
}
body .work-body .work-anybody-bg .work-anybody {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  margin: auto;
}
body .work-body .work-anybody-bg .work-anybody .gif {
  width: 300px;
  height: 150px;
  flex: 1;
  -o-object-fit: cover;
     object-fit: cover;
  background: #000;
}
body .work-body .work-anybody-bg .work-anybody img {
  flex: 2;
  transform: scale(0.9);
  width: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
body .work-body .work-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5rem;
  margin: auto;
}
body .work-body .work-cards .card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem 2rem;
}
body .work-body .work-cards .card-type-1 {
  background-color: #9a49a0;
}
body .work-body .work-cards .card-type-1 h3 {
  color: #9a49a0;
  background-color: #0f0054;
}
body .work-body .work-cards .card-type-2 {
  background-color: #e7e1b5;
}
body .work-body .work-cards .card-type-2 h3 {
  color: #9a49a0;
  background-color: #0f0054;
}
body .work-body .work-cards .card-type-2 p {
  color: #2d2817;
}
body .work-body .work-cards .card-type-3 {
  background-color: #2d2817;
}
body .work-body .work-cards .card-type-3 h3 {
  color: #e7e1b5;
  background-color: #9a49a0;
}
body .work-body .work-cards .card-type-3 p {
  color: #fff;
}
body .work-body .work-cards img.work-brand-logo {
  transform: scale(0.8);
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
}
body .work-body .work-cards img.thumbnail {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  margin-top: 1rem;
}
body .work-body .work-cards h3 {
  width: 100%;
  font-size: 2.5rem;
  font-weight: 600;
  margin: 1rem 0;
  padding: 1rem;
  max-height: 100px;
  line-height: 1;
}
body .work-body .work-cards p {
  font-size: 1rem;
  font-weight: 400;
  text-align: justify;
}/*# sourceMappingURL=work.css.map */