$base-color: #f9d404;
$white-color: #fff;
$black-color: #000;
$purple-color: #9a49a0;
$beige-color: #e7e1b5;
$gray-color: #2d2817;
$dark-blue: #0f0054;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --swiper-theme-color: #f9d404;
  --swiper-navigation-size: 24px;
  --swiper-pagination-bullet-inactive-opacity: 0.5;
  --swiper-pagination-bullet-inactive-color: #f1f1f1;
}

.font-yellow {
  color: $base-color;
}

body {
  font-family: "Jost", sans-serif;
  color: $white-color;
  overflow-x: hidden;

  .btn {
    border: none;
    border-radius: 50px;
    background-color: $base-color;
    color: $black-color;
    padding: 1rem 3rem;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: $white-color;
    }
  }

  .background {
    position: fixed;
    inset: 0;
    background-image: url("./images/landing/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    width: 100vw;
    height: 100vh;
  }

  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0px;
    left: 0;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    z-index: -1;

    img.cube {
      position: absolute;
      object-fit: cover;
      z-index: 3;
      height: 100vh;
    }

    img.icon {
      position: absolute;
      inset: 0;
      margin: auto;
      max-height: 300px;
      z-index: 2;
      display: none;
    }
  }

  #works {
    margin: auto;
    padding-top: 5rem;

    .work {
      text-align: center;
      margin-top: 15rem;

      .main {
        margin: auto;

        img {
          margin: auto;
          max-height: 100px;
          max-width: 200px;
        }

        h2 {
          font-size: 2rem;
          font-weight: 600;
          margin: 2rem 0;
        }

        p {
          font-size: 1.5rem;
          font-weight: 400;
          margin: 1rem 0;
        }

        img.arrow {
          margin: 2rem auto;
          object-fit: cover;
          cursor: pointer;
          transition: all 0.3s ease-in-out;
        }
      }

      .work-metadata {
        margin: 2rem auto;
        overflow: hidden;
        height: 500px;
        transition: all 0.3s ease-in-out;

        swiper-container {
          width: 100%;
          height: 100%;

          swiper-slide {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;

            img {
              object-fit: cover;
              width: 350px;
            }
          }
        }

        .custom-swiper-buttons {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0 6rem;
          background-color: red;
          height: 100px;

          img {
            object-fit: cover;
            max-width: 100px;
            margin-bottom: -80px;

            &.swiper-button-disabled {
              opacity: 0;
            }
          }

          .custom-swiper-buttons-right {
            transform: rotate(180deg);
          }
        }
      }
    }
  }

  .footer {
    margin-top: 20rem;

    .footer-container {
      .footer-right {
        img.illustration {
          top: -400px;
          transform: scale(1);
          max-height: 500px;
          right: 0;
        }
      }
    }
  }
}

@media only screen and (min-width: 901px) and (max-width: 1400px) {
  #works {
    padding: 0 5rem;
  }
}

@media only screen and (max-width: 900px) {
  body {
    background-color: $black-color;
    box-sizing: border-box;
    margin: auto;
    overflow-x: hidden;
    max-width: 100vw;
    padding-top: 100px;

    .hero {
      height: auto;
      position: inherit;

      img.cube {
        object-fit: cover;
        z-index: 3;
        transform: scale(1.5);
        max-height: 350px;
        position: inherit;
      }

      img.icon {
        max-height: 300px;
        margin: 0 auto;
        position: absolute;
        top: 18%;
      }
    }

    #works {
      padding: 0 2rem;

      .work {
        text-align: center;
        margin: auto;
        margin-top: 5rem;
        width: 100%;

        .main {
          h2 {
            font-size: 1.5rem;
          }

          p {
            font-size: 1.2rem;
          }

          img.arrow {
            margin: 2rem auto;
            object-fit: cover;
            cursor: pointer;
          }
        }
      }
    }

    .illustration-container {
      img.illustration {
        bottom: -10rem;
        transform: scale(0.65);
      }
    }

    .footer {
      .footer-container {
        margin-top: 0rem;

        .footer-right {
          img.illustration {
            top: -320px;
            transform: scale(1);
            max-height: 500px;
            transform: translateX(-45%);
          }
        }
      }
    }
  }
}
