$base-color: #f4d67d;
$white-color: #fff;
$black-color: #000;
$purple-color: #9a49a0;
$beige-color: #e7e1b5;
$gray-color: #2d2817;
$dark-blue: #0f0054;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-yellow {
  color: $base-color;
}

.mobile {
  display: none;
}

body {
  font-family: "Jost", sans-serif;
  color: $white-color;
  background-color: $purple-color;

  .btn {
    border: none;
    border-radius: 50px;
    background-color: $base-color;
    color: $black-color;
    padding: 1rem 3rem;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: $white-color;
    }
  }

  .background {
    position: fixed;
    inset: 0;
    background-image: url("./images/landing/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    width: 100vw;
    height: 100vh;
  }

  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding-top: 1.5rem;

    ul {
      display: flex;
      list-style: none;
      flex: 1;
      justify-content: space-between;
      align-items: center;
      position: relative;
      padding: 1.8rem 2rem;

      &::before,
      &::after {
        content: " ";
        position: absolute;
        display: block;
        width: 100%;
        height: 1px;
        background-color: $white-color;
      }

      &::before {
        top: 0;
        left: 0;
      }

      &::after {
        bottom: 0;
        right: 0;
      }

      li {
        font-size: 1.7rem;
        font-weight: 400;
        cursor: pointer;
      }
    }

    img {
      // height: 150px;
      width: 150px;
      object-fit: cover;
      margin: 0 2.5rem;
      margin-top: -2rem;
    }
  }

  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    height: 100vh;
    width: 100vw;

    img.cube {
      object-fit: cover;
      z-index: 3;
    }

    img.icon {
      position: absolute;
      inset: 0;
      margin: auto;
      max-height: 450px;
      z-index: 2;
    }
  }

  .work {
    text-align: center;
    margin: auto;
    margin-top: 5rem;
    width: 100%;

    .main {
      max-width: 800px;
      margin: auto;

      img {
        margin: auto;
        max-height: 100px;
        max-width: 200px;
      }

      h2 {
        font-size: 2rem;
        font-weight: 600;
        margin: 2rem 0;
      }

      p {
        font-size: 1.5rem;
        font-weight: 400;
        margin: 1rem 0;
      }

      img.arrow {
        margin: 2rem auto;
        width: 100px;
        object-fit: cover;
        cursor: pointer;
        transform: rotate(180deg);
      }
    }

    .work-metadata {
      margin: 2rem auto;
      // max-width: 1400px;
      overflow: hidden;
      height: 0px;
      transition: all 0.3s ease-in-out;

      swiper-container {
        width: 100%;
        height: 100%;

        swiper-slide {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          position: relative;

          img {
            object-fit: cover;
            width: 350px;
          }
        }
      }

      .custom-swiper-buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 6rem;

        img {
          object-fit: cover;
          max-width: 100px;
          margin-bottom: -80px;

          &.swiper-button-disabled {
            opacity: 0;
          }
        }

        .custom-swiper-buttons-right {
          transform: rotate(180deg);
        }
      }
    }
  }

  .footer {
    background-color: $base-color;
    position: relative;
    padding-top: 2rem;
    margin-top: 10rem;

    .footer-container {
      color: $black-color;
      display: flex;
      align-items: flex-end;
      margin: auto;
      padding: 2rem 0;

      .footer-left {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        flex: 2;

        img {
          height: 200px;
          max-height: 200px;
          margin-left: -35px;
        }

        p {
          font-size: 1.2rem;
          font-weight: 400;
          margin: 1rem 0;
          line-height: 1.2;
        }
      }

      .links {
        display: flex;
        flex: 1;

        ul {
          li {
            font-size: 1.3rem;
            font-weight: 600;
            margin: 1rem 0;
            cursor: pointer;
          }
        }
      }

      .footer-right {
        width: 100%;
        flex: 3;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-bottom: 1rem;

        img.illustration {
          position: absolute;
          top: -170px;
          right: 150px;
          transform: scale(1.3);
          max-height: 300px;
        }

        h2 {
          font-size: 2.5rem;
          font-weight: 600;
        }

        p {
          font-size: 1.2rem;
          font-weight: 400;
        }

        input {
          width: 100%;
          background-color: transparent;
          border: none;
          border-bottom: 2px solid $black-color;
          padding: 0.5rem 0;
          margin-top: 1.6rem;
          outline: none;

          &:focus {
            outline: none;
            box-shadow: none;
          }
        }

        .icons {
          display: flex;
          align-items: center;
          margin-top: 1.5rem;

          a {
            display: flex;
            align-items: center;
            justify-content: center;
            border: #000 1px solid;
            padding: 5px;
            border-radius: 50%;
            height: 35px;
            width: 35px;
            margin-right: 1rem;

            img {
              height: 18px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  html {
    overflow: auto;
  }

  .mobile {
    display: block;
    margin: 0 auto;
  }

  .desktop {
    display: none;
  }

  .navigation-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 998;
    background-color: $black-color;
    // border-bottom: 1px solid $base-color;

    img {
      max-height: 80px;
      width: auto;
    }

    .hamburger {
      width: 30px;
      cursor: pointer;

      .line {
        height: 2px;
        width: 100%;
        background-color: $base-color;
        margin: 5px 0;
      }
    }
  }

  .nav-overlay {
    position: fixed;
    top: 0;
    right: -100vw;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: $black-color;
    z-index: 999;
    opacity: 1;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    // border: 1px solid $base-color;

    &.active {
      right: 0;
    }

    .topbar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 1rem 2rem;
      position: fixed;
      top: 0;

      img {
        max-height: 80px;
        width: auto;
      }

      .close {
        cursor: pointer;
        width: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .line {
          height: 2px;
          width: 100%;
          background-color: $base-color;
          margin: 5px 0;
        }

        .line-1 {
          transform: rotate(45deg);
        }

        .line-2 {
          margin-top: -7px;
          transform: rotate(-45deg);
        }
      }
    }

    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      padding: 0 2rem;

      li {
        font-size: 2rem;
        font-weight: 600;
        margin: 1rem 0;
        cursor: pointer;
      }
    }
  }

  body {
    background-color: $black-color;
    box-sizing: border-box;
    margin: auto;
    overflow-x: hidden;
    max-width: 100vw;
    padding-top: 100px;

    .hero {
      height: auto;

      img.cube {
        object-fit: cover;
        z-index: 3;
        transform: scale(1.5);
        max-height: 350px;
      }

      img.icon {
        max-height: 300px;
      }
    }

    .navigation {
      display: none;
    }

    .work {
      text-align: center;
      margin: auto;
      margin-top: 5rem;
      width: 100%;

      .main {
        h2 {
          font-size: 1.5rem;
        }

        p {
          font-size: 1.2rem;
        }

        img.arrow {
          margin: 2rem auto;
          width: 100px;
          object-fit: cover;
          cursor: pointer;
          transform: rotate(180deg);
        }
      }
    }

    .footer {
      margin-top: 20rem;

      .footer-container {
        flex-direction: column;
        padding: 1rem 2rem;
        margin-top: 70px;
        align-items: flex-start;

        .footer-left {
          align-items: flex-start;
          text-align: left;

          img {
            height: 200px;
          }

          p {
            font-size: 1.1rem;
          }
        }

        .links {
          ul {
            li {
              font-size: 1.1rem;
            }
          }
        }

        .footer-right {
          img.illustration {
            top: -300px;
            left: 50%;
            transform: translate(-50%, 0);
            margin: 0;
            max-height: 400px;
          }

          h2 {
            font-size: 1.5rem;
          }

          p {
            font-size: 1.1rem;
          }
        }
      }
    }
  }
}
